* {
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #1A2F4E;
}
.intro {
    background-image: url(../images/sps.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .5em 2em;
    justify-content: space-between;

}

img {
    max-width: 100%;
    
}
.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
/* typography */
h1 {
    font-size: 2.25rem;
    text-shadow: 2px 2px 8px #a87a7a;
    text-decoration: underline dotted #D8DADD;
    ;
}

h1+p {
    color:#D8DADD;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}
.top-text {
    font-size: 0.625rem;
    margin: 0;
    padding-top: 2px;
    color: #D8DADD;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #D8DADD;
    border-image: linear-gradient(to left, #1A2F4E, #464E5D) 1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong { font-weight: 900; }